.ibm-theme {
          --textfield-bg: #262626;
  --text-opacity: #6f6f6f;
  --text: #c6c6c6;
  --background: #000;
  --button-color: #ffffff;
  --primary: #1400ff;
  --font-families-inter: Inter;
  --font-families-ibm-plex-sans: IBM Plex Sans;
  --line-heights-0: 150%;
  --line-heights-1: 16;
  --line-heights-2: 20;
  --font-weights-inter-0: Regular;
  --font-weights-ibm-plex-sans-1: Regular;
  --font-weights-ibm-plex-sans-2: Medium;
  --font-size-0: 0.75rem;
  --font-size-1: 0.875rem;
  --font-size-2: 1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 2.25rem;
  --letter-spacing-0: 0.32;
  --letter-spacing-1: 0.16;
  --paragraph-spacing-0: 0;
  --header-font-family: IBM Plex Sans;
  --header-font-weight: Regular;
  --header-line-height: 150%;
  --header-font-size: 2.25rem;
  --header-letter-spacing: 0.32;
  --header-paragraph-spacing: 0;
  --header-paragraph-indent: 0px;
  --header-text-case: none;
  --header-text-decoration: none;
  --textfield-font-family: Inter;
  --textfield-font-weight: Regular;
  --textfield-line-height: 16;
  --textfield-font-size: 0.875rem;
  --textfield-letter-spacing: 0.16;
  --textfield-paragraph-spacing: 0;
  --textfield-paragraph-indent: 0px;
  --textfield-text-case: none;
  --textfield-text-decoration: none;
  --label-font-family: Inter;
  --label-font-weight: Regular;
  --label-line-height: 20;
  --label-font-size: 0.75rem;
  --label-letter-spacing: 0.32;
  --label-paragraph-spacing: 0;
  --label-paragraph-indent: 0px;
  --label-text-case: none;
  --label-text-decoration: none;
  --body-font-family: IBM Plex Sans;
  --body-font-weight: Regular;
  --body-line-height: 150%;
  --body-font-size: 1.25rem;
  --body-letter-spacing: 0.32;
  --body-paragraph-spacing: 0;
  --body-paragraph-indent: 0px;
  --body-text-case: none;
  --body-text-decoration: none;
  --button-font-family: IBM Plex Sans;
  --button-font-weight: Medium;
  --button-line-height: 16;
  --button-font-size: 1rem;
  --button-letter-spacing: 0.16;
  --button-paragraph-spacing: 0;
  --button-paragraph-indent: 0px;
  --button-text-case: none;
  --button-text-decoration: none;
  --text-case-none: none;
  --text-decoration-none: none;
  --paragraph-indent-0: 0px;
  --input-text: #fff;
  --input-hover: #000;
  --radius: 20;
  --doubleborder: 4;
      }