.transform-mosaic-theme {
          --primary-25: #f7f9ff;
  --primary-50: #ecf2ff;
  --primary-100: #d9e4fc;
  --primary-200: #beccea;
  --primary-300: #819bd4;
  --primary-400: #5277cb;
  --primary-500: #2a50a7;
  --primary-600: #103b9e;
  --primary-800: #091e4c;
  --primary-900: #0b1833;
  --primary-main: #022167;
  --secondary-50: #c7f4ff;
  --secondary-100: #94eaff;
  --secondary-200: #61dfff;
  --secondary-300: #2ed5ff;
  --secondary-400: #00c8fa;
  --secondary-600: #118ead;
  --secondary-700: #1e7c94;
  --secondary-800: #25697a;
  --secondary-900: #275561;
  --secondary-main: #00a0c8;
  --accent-50: #fbebff;
  --accent-100: #f8deff;
  --accent-200: #ecc4ff;
  --accent-300: #db9eff;
  --accent-400: #c47af4;
  --accent-500: #a95adc;
  --accent-700: #8a3fba;
  --accent-800: #66278f;
  --accent-900: #40155c;
  --accent-main: #994ccc;
  --neutral-25: #fafcff;
  --neutral-50: #f5f7fa;
  --neutral-100: #e4e7eb;
  --neutral-200: #cbd2d9;
  --neutral-300: #9aa5b1;
  --neutral-400: #7b8694;
  --neutral-600: #52606d;
  --neutral-700: #3e4c59;
  --neutral-800: #323f4b;
  --neutral-900: #1f2933;
  --neutral-main: #616e7c;
  --error-50: #ffebeb;
  --error-100: #fedcdc;
  --error-200: #ffb8b8;
  --error-300: #ff9e9e;
  --error-400: #ff8585;
  --error-500: #ff6b6b;
  --error-600: #ff5252;
  --error-700: #ff3838;
  --error-900: #ff0505;
  --error-main: #ff1f1f;
  --warning-50: #fff7de;
  --warning-100: #fef0c7;
  --warning-200: #fedf89;
  --warning-300: #fec84b;
  --warning-500: #f79009;
  --warning-600: #dc6803;
  --warning-700: #b54708;
  --warning-800: #93370d;
  --warning-900: #7a2e0e;
  --warning-main: #fdb022;
  --success-50: #ecfdf3;
  --success-100: #d1fadf;
  --success-200: #a6f4c5;
  --success-300: #6ce9a6;
  --success-400: #32d583;
  --success-500: #12b76a;
  --success-700: #027a48;
  --success-800: #05603a;
  --success-900: #054f31;
  --success-main: #009933;
  --data-visualization-green-cyan-50: #e8fffb;
  --data-visualization-green-cyan-100: #c9fff6;
  --data-visualization-green-cyan-200: #a9fbed;
  --data-visualization-green-cyan-300: #91f4e3;
  --data-visualization-green-cyan-400: #7cedd9;
  --data-visualization-green-cyan-600: #4bd1b9;
  --data-visualization-green-cyan-700: #2fbca3;
  --data-visualization-green-cyan-800: #1ea68e;
  --data-visualization-green-cyan-900: #10977f;
  --data-visualization-green-cyan-main: #63dfc9;
  --data-visualization-yellow-50: #fff7de;
  --data-visualization-yellow-100: #fff1c2;
  --data-visualization-yellow-200: #ffeba5;
  --data-visualization-yellow-300: #ffe68f;
  --data-visualization-yellow-400: #ffe178;
  --data-visualization-yellow-500: #ffdb5c;
  --data-visualization-yellow-700: #e5bb22;
  --data-visualization-yellow-800: #c69e0d;
  --data-visualization-yellow-900: #ad8e1d;
  --data-visualization-yellow-main: #ffc700;
  --data-visualization-magenta-50: #ffe5f9;
  --data-visualization-magenta-100: #ffccf3;
  --data-visualization-magenta-200: #f3aae2;
  --data-visualization-magenta-300: #ff7de1;
  --data-visualization-magenta-400: #e673cc;
  --data-visualization-magenta-500: #d658ba;
  --data-visualization-magenta-700: #b51a93;
  --data-visualization-magenta-800: #9c197f;
  --data-visualization-magenta-900: #7e0864;
  --data-visualization-magenta-main: #ca2ca7;
  --shades-black: #000000;
  --shades-white: #ffffff;
  --colour-white: #ffffff;
  --colour-black: #000000;
  --colour-primary-p50: #ecf2ff;
  --colour-primary-p100: #d9e4fc;
  --colour-primary-p200: #beccea;
  --colour-primary-p300: #819bd4;
  --colour-primary-p400: #5378ca;
  --colour-primary-p500: #2a50a7;
  --colour-primary-p600: #103b9e;
  --colour-primary-p700main: #022167;
  --colour-primary-p800: #091e4c;
  --colour-primary-p900: #0b1833;
  --colour-secondary-s50: #c7f4ff;
  --colour-secondary-s100: #94eaff;
  --colour-secondary-s200: #61dfff;
  --colour-secondary-s300: #2ed5ff;
  --colour-secondary-s400: #00c8fa;
  --colour-secondary-s500main: #00a0c8;
  --colour-secondary-s600: #118ead;
  --colour-secondary-s700: #1e7c94;
  --colour-secondary-s800: #25697a;
  --colour-secondary-s900: #275561;
  --colour-accent-a50: #fbebff;
  --colour-accent-a100: #f8deff;
  --colour-accent-a200: #ecc4ff;
  --colour-accent-a300: #db9eff;
  --colour-accent-a400: #c47af4;
  --colour-accent-a500: #a95adc;
  --colour-accent-a600main: #994ccc;
  --colour-accent-a700: #8a3fba;
  --colour-accent-a800: #66278f;
  --colour-accent-a900: #40155c;
  --colour-neutral-n50: #f5f7fa;
  --colour-neutral-n100: #e4e7eb;
  --colour-neutral-n200: #cbd2d9;
  --colour-neutral-n300: #9aa5b1;
  --colour-neutral-n400: #7b8694;
  --colour-neutral-n500main: #616e7c;
  --colour-neutral-n600: #52606d;
  --colour-neutral-n700: #3e4c59;
  --colour-neutral-n800: #323f4b;
  --colour-neutral-n900: #1f2933;
  --colour-error-e50: #ffebeb;
  --colour-error-e100: #ffd1d1;
  --colour-error-e200: #ffb8b8;
  --colour-error-e300: #ff9e9e;
  --colour-error-e400: #ff8585;
  --colour-error-e500: #ff6b6b;
  --colour-error-e600: #ff5252;
  --colour-error-e700: #ff3838;
  --colour-error-e800main: #ff1f1f;
  --colour-error-e900: #ff0505;
  --colour-warning-w50: #fff7de;
  --colour-warning-w100: #fef0c7;
  --colour-warning-w200: #fedf89;
  --colour-warning-w300: #fec84b;
  --colour-warning-w400main: #fdb022;
  --colour-warning-w500: #f79009;
  --colour-warning-w600: #dc6803;
  --colour-warning-w700: #b54708;
  --colour-warning-w800: #93370d;
  --colour-warning-w900: #7a2e0e;
  --colour-success-su50: #ecfdf3;
  --colour-success-su100: #d1fadf;
  --colour-success-su200: #a6f4c5;
  --colour-success-su300: #6ce9a6;
  --colour-success-su400: #32d583;
  --colour-success-su500: #12b76a;
  --colour-success-su600main: #009933;
  --colour-success-su700: #027a48;
  --colour-success-su800: #05603a;
  --colour-success-su900: #054f31;
  --colour-data-viz-cyan-dc50: #e8fffb;
  --colour-data-viz-cyan-dc500main: #63dfc9;
  --colour-data-viz-cyan-dc100: #c9fff6;
  --colour-data-viz-cyan-dc200: #a9fbed;
  --colour-data-viz-cyan-dc300: #91f4e3;
  --colour-data-viz-cyan-dc400: #7cedd9;
  --colour-data-viz-cyan-dc600: #4bd1b9;
  --colour-data-viz-cyan-dc700: #2fbca3;
  --colour-data-viz-cyan-dc800: #1ea68e;
  --colour-data-viz-cyan-dc900: #10977f;
  --colour-data-viz-yellow-dy600main: #ffc700;
  --colour-data-viz-yellow-dy50: #fff7de;
  --colour-data-viz-yellow-dy100: #fff1c2;
  --colour-data-viz-yellow-dy200: #ffeba5;
  --colour-data-viz-yellow-dy300: #ffe68f;
  --colour-data-viz-yellow-dy400: #ffe178;
  --colour-data-viz-yellow-dy500: #ffdb5c;
  --colour-data-viz-yellow-dy700: #e5bb22;
  --colour-data-viz-yellow-dy800: #c69e0d;
  --colour-data-viz-yellow-dy900: #ad8e1d;
  --colour-data-viz-warning-dw600main: #ca2ca7;
  --colour-data-viz-warning-dw50: #ffe5f9;
  --colour-data-viz-warning-dw100: #ffccf3;
  --colour-data-viz-warning-dw200: #f3aae2;
  --colour-data-viz-warning-dw300: #ff7de1;
  --colour-data-viz-warning-dw400: #e673cc;
  --colour-data-viz-warning-dw500: #d658ba;
  --colour-data-viz-warning-dw700: #b51a93;
  --colour-data-viz-warning-dw800: #9c197f;
  --colour-data-viz-warning-dw900: #7e0864;
  --colour-background-dark: #f5f7fa;
  --colour-background-light: #ffffff;
  --colour-container-default: #ffffff;
  --colour-container-hover: #ecf2ff;
  --colour-container-selected: #d9e4fc;
  --colour-container-success: #ecfdf3;
  --colour-container-warning: #fff7de;
  --colour-container-error: #ffebeb;
  --colour-container-dark: #323f4b;
  --colour-border-default: #ecf2ff;
  --colour-border-hover: #beccea;
  --colour-border-selected: #2a50a7;
  --colour-border-success: #d1fadf;
  --colour-border-warning: #fef0c7;
  --colour-border-error: #ffd1d1;
  --colour-icon-default: #1f2933;
  --colour-icon-warning: #fdb022;
  --colour-icon-error: #ff1f1f;
  --colour-icon-success: #009933;
  --colour-icon-light: #7b8694;
  --colour-icon-selected: #2a50a7;
  --colour-text-default: #3e4c59;
  --colour-text-focus: #323f4b;
  --colour-text-placeholder: #7b8694;
  --colour-text-disabled: #9aa5b1;
  --colour-text-inverse: #ffffff;
  --colour-text-dark: #1f2933;
  --colour-text-helper: #52606d;
  --colour-text-label: #616e7c;
  --colour-text-link: #2a50a7;
  --colour-text-link-hover: #103b9e;
  --button-primary-background: #5a67d8;
  --button-primary-text: #ffffff;
  --card-background: #1a202c;
  --fg-default: #ffffff;
  --fg-muted: #e2e8f0;
  --fg-subtle: #a0aec0;
  --bg-default: #1a202c;
  --bg-muted: #4a5568;
  --bg-subtle: #718096;
  --accent-default: #5a67d8;
  --accent-on-accent: #ffffff;
  --accent-bg: #434190;
  --shadows-default: #0000004d;
  --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-gray-100: #f7fafc;
  --colors-gray-200: #edf2f7;
  --colors-gray-300: #e2e8f0;
  --colors-gray-400: #cbd5e0;
  --colors-gray-500: #a0aec0;
  --colors-gray-600: #718096;
  --colors-gray-700: #4a5568;
  --colors-gray-800: #2d3748;
  --colors-gray-900: #1a202c;
  --colors-red-100: #fff5f5;
  --colors-red-200: #fed7d7;
  --colors-red-300: #feb2b2;
  --colors-red-400: #fc8181;
  --colors-red-500: #f56565;
  --colors-red-600: #e53e3e;
  --colors-red-700: #c53030;
  --colors-red-800: #9b2c2c;
  --colors-red-900: #742a2a;
  --colors-orange-100: #fffaf0;
  --colors-orange-200: #feebc8;
  --colors-orange-300: #fbd38d;
  --colors-orange-400: #f6ad55;
  --colors-orange-500: #ed8936;
  --colors-orange-600: #dd6b20;
  --colors-orange-700: #c05621;
  --colors-orange-800: #9c4221;
  --colors-orange-900: #7b341e;
  --colors-yellow-100: #fffff0;
  --colors-yellow-200: #fefcbf;
  --colors-yellow-300: #faf089;
  --colors-yellow-400: #f6e05e;
  --colors-yellow-500: #ecc94b;
  --colors-yellow-600: #d69e2e;
  --colors-yellow-700: #b7791f;
  --colors-yellow-800: #975a16;
  --colors-yellow-900: #744210;
  --colors-green-100: #f0fff4;
  --colors-green-200: #c6f6d5;
  --colors-green-300: #9ae6b4;
  --colors-green-400: #68d391;
  --colors-green-500: #48bb78;
  --colors-green-600: #38a169;
  --colors-green-700: #2f855a;
  --colors-green-800: #276749;
  --colors-green-900: #22543d;
  --colors-teal-100: #e6fffa;
  --colors-teal-200: #b2f5ea;
  --colors-teal-300: #81e6d9;
  --colors-teal-400: #4fd1c5;
  --colors-teal-500: #38b2ac;
  --colors-teal-600: #319795;
  --colors-teal-700: #2c7a7b;
  --colors-teal-800: #285e61;
  --colors-teal-900: #234e52;
  --colors-blue-100: #ebf8ff;
  --colors-blue-200: #bee3f8;
  --colors-blue-300: #90cdf4;
  --colors-blue-400: #63b3ed;
  --colors-blue-500: #4299e1;
  --colors-blue-600: #3182ce;
  --colors-blue-700: #2b6cb0;
  --colors-blue-800: #2c5282;
  --colors-blue-900: #2a4365;
  --colors-indigo-100: #ebf4ff;
  --colors-indigo-200: #c3dafe;
  --colors-indigo-300: #a3bffa;
  --colors-indigo-400: #7f9cf5;
  --colors-indigo-500: #667eea;
  --colors-indigo-600: #5a67d8;
  --colors-indigo-700: #4c51bf;
  --colors-indigo-800: #434190;
  --colors-indigo-900: #3c366b;
  --colors-purple-100: #faf5ff;
  --colors-purple-200: #e9d8fd;
  --colors-purple-300: #d6bcfa;
  --colors-purple-400: #b794f4;
  --colors-purple-500: #9f7aea;
  --colors-purple-600: #805ad5;
  --colors-purple-700: #6b46c1;
  --colors-purple-800: #553c9a;
  --colors-purple-900: #44337a;
  --colors-pink-100: #fff5f7;
  --colors-pink-200: #fed7e2;
  --colors-pink-300: #fbb6ce;
  --colors-pink-400: #f687b3;
  --colors-pink-500: #ed64a6;
  --colors-pink-600: #d53f8c;
  --colors-pink-700: #b83280;
  --colors-pink-800: #97266d;
  --colors-pink-900: #702459;
  --elevation-1-color: #616e7c3d;
  --elevation-1-type: dropShadow;
  --elevation-1-x: 0;
  --elevation-1-y: 1;
  --elevation-1-blur: 1;
  --elevation-1-spread: 0;
  --elevation-2-color: #616e7c3d;
  --elevation-2-type: dropShadow;
  --elevation-2-x: 0;
  --elevation-2-y: 2;
  --elevation-2-blur: 4;
  --elevation-2-spread: 0;
  --elevation-3-color: #616e7c29;
  --elevation-3-type: dropShadow;
  --elevation-3-x: 0;
  --elevation-3-y: 4;
  --elevation-3-blur: 8;
  --elevation-3-spread: 0;
  --elevation-4-color: #616e7c29;
  --elevation-4-type: dropShadow;
  --elevation-4-x: 0;
  --elevation-4-y: 8;
  --elevation-4-blur: 20;
  --elevation-4-spread: 0;
  --elevation-5-color: #616e7c29;
  --elevation-5-type: dropShadow;
  --elevation-5-x: 0;
  --elevation-5-y: 16;
  --elevation-5-blur: 40;
  --elevation-5-spread: 0;
  --box-shadow-default-0-color: #00000033;
  --box-shadow-default-0-type: innerShadow;
  --box-shadow-default-0-x: 4;
  --box-shadow-default-0-y: 4;
  --box-shadow-default-0-blur: 5;
  --box-shadow-default-0-spread: 6;
  --box-shadow-default-1-color: #00000026;
  --box-shadow-default-1-type: dropShadow;
  --box-shadow-default-1-x: 5;
  --box-shadow-default-1-y: 5;
  --box-shadow-default-1-blur: 5;
  --box-shadow-default-1-spread: 3;
  --font-families-source-sans-pro: Source Sans Pro;
  --font-families-roboto: Roboto;
  --font-families-inter: Inter;
  --line-heights-0: 16;
  --line-heights-1: 40;
  --line-heights-2: 36;
  --line-heights-3: 28;
  --line-heights-4: 26;
  --line-heights-5: 24;
  --line-heights-6: 22;
  --line-heights-7: 54;
  --line-heights-8: 48;
  --line-heights-9: 44;
  --line-heights-10: 42;
  --line-heights-11: 18;
  --line-heights-12: AUTO;
  --line-heights-13: 110%;
  --font-weights-source-sans-pro-0: Regular;
  --font-weights-source-sans-pro-1: SemiBold;
  --font-weights-source-sans-pro-2: Italic;
  --font-weights-roboto-3: Regular;
  --font-weights-inter-4: Bold;
  --font-weights-inter-5: Regular;
  --font-size-0: 0.6875rem;
  --font-size-1: 0.75rem;
  --font-size-2: 0.875rem;
  --font-size-3: 1rem;
  --font-size-4: 1.125rem;
  --font-size-5: 1.25rem;
  --font-size-6: 1.5rem;
  --font-size-7: 1.75rem;
  --font-size-8: 2rem;
  --font-size-9: 2.25rem;
  --font-size-10: 2.4414375rem;
  --font-size-11: 2.5rem;
  --font-size-12: 2.75rem;
  --font-size-13: 3.0518125rem;
  --letter-spacing-0: 0%;
  --letter-spacing-1: -5%;
  --paragraph-spacing-0: 0;
  --paragraph-spacing-1: 26;
  --paragraph-spacing-2: 32;
  --small-text-s1-regular-font-family: Source Sans Pro;
  --small-text-s1-regular-font-weight: Regular;
  --small-text-s1-regular-line-height: 16;
  --small-text-s1-regular-font-size: 0.75rem;
  --small-text-s1-regular-letter-spacing: 0%;
  --small-text-s1-regular-paragraph-spacing: 0;
  --small-text-s1-regular-paragraph-indent: 0px;
  --small-text-s1-regular-text-case: none;
  --small-text-s1-regular-text-decoration: none;
  --small-text-s1-semibold-font-family: Source Sans Pro;
  --small-text-s1-semibold-font-weight: SemiBold;
  --small-text-s1-semibold-line-height: 16;
  --small-text-s1-semibold-font-size: 0.75rem;
  --small-text-s1-semibold-letter-spacing: 0%;
  --small-text-s1-semibold-paragraph-spacing: 0;
  --small-text-s1-semibold-paragraph-indent: 0px;
  --small-text-s1-semibold-text-case: none;
  --small-text-s1-semibold-text-decoration: none;
  --small-text-s1-italic-font-family: Source Sans Pro;
  --small-text-s1-italic-font-weight: Italic;
  --small-text-s1-italic-line-height: 16;
  --small-text-s1-italic-font-size: 0.75rem;
  --small-text-s1-italic-letter-spacing: 0%;
  --small-text-s1-italic-paragraph-spacing: 0;
  --small-text-s1-italic-paragraph-indent: 0px;
  --small-text-s1-italic-text-case: none;
  --small-text-s1-italic-text-decoration: none;
  --small-text-s2-regular-font-family: Source Sans Pro;
  --small-text-s2-regular-font-weight: Regular;
  --small-text-s2-regular-line-height: 16;
  --small-text-s2-regular-font-size: 0.6875rem;
  --small-text-s2-regular-letter-spacing: 0%;
  --small-text-s2-regular-paragraph-spacing: 0;
  --small-text-s2-regular-paragraph-indent: 0px;
  --small-text-s2-regular-text-case: none;
  --small-text-s2-regular-text-decoration: none;
  --small-text-s2-semibold-font-family: Source Sans Pro;
  --small-text-s2-semibold-font-weight: SemiBold;
  --small-text-s2-semibold-line-height: 16;
  --small-text-s2-semibold-font-size: 0.6875rem;
  --small-text-s2-semibold-letter-spacing: 0%;
  --small-text-s2-semibold-paragraph-spacing: 0;
  --small-text-s2-semibold-paragraph-indent: 0px;
  --small-text-s2-semibold-text-case: none;
  --small-text-s2-semibold-text-decoration: none;
  --small-text-s2-italic-font-family: Source Sans Pro;
  --small-text-s2-italic-font-weight: Italic;
  --small-text-s2-italic-line-height: 16;
  --small-text-s2-italic-font-size: 0.6875rem;
  --small-text-s2-italic-letter-spacing: 0%;
  --small-text-s2-italic-paragraph-spacing: 0;
  --small-text-s2-italic-paragraph-indent: 0px;
  --small-text-s2-italic-text-case: none;
  --small-text-s2-italic-text-decoration: none;
  --paragraph-p1-regular-font-family: Source Sans Pro;
  --paragraph-p1-regular-font-weight: Regular;
  --paragraph-p1-regular-line-height: 40;
  --paragraph-p1-regular-font-size: 1.75rem;
  --paragraph-p1-regular-letter-spacing: 0%;
  --paragraph-p1-regular-paragraph-spacing: 0;
  --paragraph-p1-regular-paragraph-indent: 0px;
  --paragraph-p1-regular-text-case: none;
  --paragraph-p1-regular-text-decoration: none;
  --paragraph-p1-italic-font-family: Source Sans Pro;
  --paragraph-p1-italic-font-weight: Italic;
  --paragraph-p1-italic-line-height: 40;
  --paragraph-p1-italic-font-size: 1.75rem;
  --paragraph-p1-italic-letter-spacing: 0%;
  --paragraph-p1-italic-paragraph-spacing: 0;
  --paragraph-p1-italic-paragraph-indent: 0px;
  --paragraph-p1-italic-text-case: none;
  --paragraph-p1-italic-text-decoration: none;
  --paragraph-p2-regular-font-family: Source Sans Pro;
  --paragraph-p2-regular-font-weight: Regular;
  --paragraph-p2-regular-line-height: 36;
  --paragraph-p2-regular-font-size: 1.5rem;
  --paragraph-p2-regular-letter-spacing: 0%;
  --paragraph-p2-regular-paragraph-spacing: 0;
  --paragraph-p2-regular-paragraph-indent: 0px;
  --paragraph-p2-regular-text-case: none;
  --paragraph-p2-regular-text-decoration: none;
  --paragraph-p2-italic-font-family: Source Sans Pro;
  --paragraph-p2-italic-font-weight: Italic;
  --paragraph-p2-italic-line-height: 36;
  --paragraph-p2-italic-font-size: 1.5rem;
  --paragraph-p2-italic-letter-spacing: 0%;
  --paragraph-p2-italic-paragraph-spacing: 0;
  --paragraph-p2-italic-paragraph-indent: 0px;
  --paragraph-p2-italic-text-case: none;
  --paragraph-p2-italic-text-decoration: none;
  --paragraph-p3-regular-font-family: Source Sans Pro;
  --paragraph-p3-regular-font-weight: Regular;
  --paragraph-p3-regular-line-height: 28;
  --paragraph-p3-regular-font-size: 1.25rem;
  --paragraph-p3-regular-letter-spacing: 0%;
  --paragraph-p3-regular-paragraph-spacing: 0;
  --paragraph-p3-regular-paragraph-indent: 0px;
  --paragraph-p3-regular-text-case: none;
  --paragraph-p3-regular-text-decoration: none;
  --paragraph-p3-italic-font-family: Source Sans Pro;
  --paragraph-p3-italic-font-weight: Italic;
  --paragraph-p3-italic-line-height: 28;
  --paragraph-p3-italic-font-size: 1.25rem;
  --paragraph-p3-italic-letter-spacing: 0%;
  --paragraph-p3-italic-paragraph-spacing: 0;
  --paragraph-p3-italic-paragraph-indent: 0px;
  --paragraph-p3-italic-text-case: none;
  --paragraph-p3-italic-text-decoration: none;
  --paragraph-p4-regular-font-family: Source Sans Pro;
  --paragraph-p4-regular-font-weight: Regular;
  --paragraph-p4-regular-line-height: 26;
  --paragraph-p4-regular-font-size: 1.125rem;
  --paragraph-p4-regular-letter-spacing: 0%;
  --paragraph-p4-regular-paragraph-spacing: 0;
  --paragraph-p4-regular-paragraph-indent: 0px;
  --paragraph-p4-regular-text-case: none;
  --paragraph-p4-regular-text-decoration: none;
  --paragraph-p4-italic-font-family: Source Sans Pro;
  --paragraph-p4-italic-font-weight: Italic;
  --paragraph-p4-italic-line-height: 26;
  --paragraph-p4-italic-font-size: 1.125rem;
  --paragraph-p4-italic-letter-spacing: 0%;
  --paragraph-p4-italic-paragraph-spacing: 0;
  --paragraph-p4-italic-paragraph-indent: 0px;
  --paragraph-p4-italic-text-case: none;
  --paragraph-p4-italic-text-decoration: none;
  --paragraph-p5-regular-font-family: Source Sans Pro;
  --paragraph-p5-regular-font-weight: Regular;
  --paragraph-p5-regular-line-height: 24;
  --paragraph-p5-regular-font-size: 1rem;
  --paragraph-p5-regular-letter-spacing: 0%;
  --paragraph-p5-regular-paragraph-spacing: 0;
  --paragraph-p5-regular-paragraph-indent: 0px;
  --paragraph-p5-regular-text-case: none;
  --paragraph-p5-regular-text-decoration: none;
  --paragraph-p5-italic-font-family: Source Sans Pro;
  --paragraph-p5-italic-font-weight: Italic;
  --paragraph-p5-italic-line-height: 24;
  --paragraph-p5-italic-font-size: 1rem;
  --paragraph-p5-italic-letter-spacing: 0%;
  --paragraph-p5-italic-paragraph-spacing: 0;
  --paragraph-p5-italic-paragraph-indent: 0px;
  --paragraph-p5-italic-text-case: none;
  --paragraph-p5-italic-text-decoration: none;
  --paragraph-p6-default-regular-font-family: Source Sans Pro;
  --paragraph-p6-default-regular-font-weight: Regular;
  --paragraph-p6-default-regular-line-height: 22;
  --paragraph-p6-default-regular-font-size: 0.875rem;
  --paragraph-p6-default-regular-letter-spacing: 0%;
  --paragraph-p6-default-regular-paragraph-spacing: 0;
  --paragraph-p6-default-regular-paragraph-indent: 0px;
  --paragraph-p6-default-regular-text-case: none;
  --paragraph-p6-default-regular-text-decoration: none;
  --paragraph-p6-default-italic-font-family: Source Sans Pro;
  --paragraph-p6-default-italic-font-weight: Italic;
  --paragraph-p6-default-italic-line-height: 22;
  --paragraph-p6-default-italic-font-size: 0.875rem;
  --paragraph-p6-default-italic-letter-spacing: 0%;
  --paragraph-p6-default-italic-paragraph-spacing: 0;
  --paragraph-p6-default-italic-paragraph-indent: 0px;
  --paragraph-p6-default-italic-text-case: none;
  --paragraph-p6-default-italic-text-decoration: none;
  --heading-h1-semibold-font-family: Source Sans Pro;
  --heading-h1-semibold-font-weight: SemiBold;
  --heading-h1-semibold-line-height: 40;
  --heading-h1-semibold-font-size: 1.75rem;
  --heading-h1-semibold-letter-spacing: 0%;
  --heading-h1-semibold-paragraph-spacing: 0;
  --heading-h1-semibold-paragraph-indent: 0px;
  --heading-h1-semibold-text-case: none;
  --heading-h1-semibold-text-decoration: none;
  --heading-h2-semibold-font-family: Source Sans Pro;
  --heading-h2-semibold-font-weight: SemiBold;
  --heading-h2-semibold-line-height: 36;
  --heading-h2-semibold-font-size: 1.5rem;
  --heading-h2-semibold-letter-spacing: 0%;
  --heading-h2-semibold-paragraph-spacing: 0;
  --heading-h2-semibold-paragraph-indent: 0px;
  --heading-h2-semibold-text-case: none;
  --heading-h2-semibold-text-decoration: none;
  --heading-h3-semibold-font-family: Source Sans Pro;
  --heading-h3-semibold-font-weight: SemiBold;
  --heading-h3-semibold-line-height: 28;
  --heading-h3-semibold-font-size: 1.25rem;
  --heading-h3-semibold-letter-spacing: 0%;
  --heading-h3-semibold-paragraph-spacing: 0;
  --heading-h3-semibold-paragraph-indent: 0px;
  --heading-h3-semibold-text-case: none;
  --heading-h3-semibold-text-decoration: none;
  --heading-h4-semibold-font-family: Source Sans Pro;
  --heading-h4-semibold-font-weight: SemiBold;
  --heading-h4-semibold-line-height: 26;
  --heading-h4-semibold-font-size: 1.125rem;
  --heading-h4-semibold-letter-spacing: 0%;
  --heading-h4-semibold-paragraph-spacing: 0;
  --heading-h4-semibold-paragraph-indent: 0px;
  --heading-h4-semibold-text-case: none;
  --heading-h4-semibold-text-decoration: none;
  --heading-h5-semibold-font-family: Source Sans Pro;
  --heading-h5-semibold-font-weight: SemiBold;
  --heading-h5-semibold-line-height: 24;
  --heading-h5-semibold-font-size: 1rem;
  --heading-h5-semibold-letter-spacing: 0%;
  --heading-h5-semibold-paragraph-spacing: 0;
  --heading-h5-semibold-paragraph-indent: 0px;
  --heading-h5-semibold-text-case: none;
  --heading-h5-semibold-text-decoration: none;
  --heading-h6-semibold-font-family: Source Sans Pro;
  --heading-h6-semibold-font-weight: SemiBold;
  --heading-h6-semibold-line-height: 22;
  --heading-h6-semibold-font-size: 0.875rem;
  --heading-h6-semibold-letter-spacing: 0%;
  --heading-h6-semibold-paragraph-spacing: 0;
  --heading-h6-semibold-paragraph-indent: 0px;
  --heading-h6-semibold-text-case: none;
  --heading-h6-semibold-text-decoration: none;
  --display-d1-regular-font-family: Source Sans Pro;
  --display-d1-regular-font-weight: Regular;
  --display-d1-regular-line-height: 54;
  --display-d1-regular-font-size: 2.75rem;
  --display-d1-regular-letter-spacing: 0%;
  --display-d1-regular-paragraph-spacing: 0;
  --display-d1-regular-paragraph-indent: 0px;
  --display-d1-regular-text-case: none;
  --display-d1-regular-text-decoration: none;
  --display-d1-semibold-font-family: Source Sans Pro;
  --display-d1-semibold-font-weight: SemiBold;
  --display-d1-semibold-line-height: 54;
  --display-d1-semibold-font-size: 2.75rem;
  --display-d1-semibold-letter-spacing: 0%;
  --display-d1-semibold-paragraph-spacing: 0;
  --display-d1-semibold-paragraph-indent: 0px;
  --display-d1-semibold-text-case: none;
  --display-d1-semibold-text-decoration: none;
  --display-d2-regular-font-family: Source Sans Pro;
  --display-d2-regular-font-weight: Regular;
  --display-d2-regular-line-height: 48;
  --display-d2-regular-font-size: 2.5rem;
  --display-d2-regular-letter-spacing: 0%;
  --display-d2-regular-paragraph-spacing: 0;
  --display-d2-regular-paragraph-indent: 0px;
  --display-d2-regular-text-case: none;
  --display-d2-regular-text-decoration: none;
  --display-d2-semibold-font-family: Source Sans Pro;
  --display-d2-semibold-font-weight: SemiBold;
  --display-d2-semibold-line-height: 48;
  --display-d2-semibold-font-size: 2.5rem;
  --display-d2-semibold-letter-spacing: 0%;
  --display-d2-semibold-paragraph-spacing: 0;
  --display-d2-semibold-paragraph-indent: 0px;
  --display-d2-semibold-text-case: none;
  --display-d2-semibold-text-decoration: none;
  --display-d3-regular-font-family: Source Sans Pro;
  --display-d3-regular-font-weight: Regular;
  --display-d3-regular-line-height: 44;
  --display-d3-regular-font-size: 2.25rem;
  --display-d3-regular-letter-spacing: 0%;
  --display-d3-regular-paragraph-spacing: 0;
  --display-d3-regular-paragraph-indent: 0px;
  --display-d3-regular-text-case: none;
  --display-d3-regular-text-decoration: none;
  --display-d3-semibold-font-family: Source Sans Pro;
  --display-d3-semibold-font-weight: SemiBold;
  --display-d3-semibold-line-height: 44;
  --display-d3-semibold-font-size: 2.25rem;
  --display-d3-semibold-letter-spacing: 0%;
  --display-d3-semibold-paragraph-spacing: 0;
  --display-d3-semibold-paragraph-indent: 0px;
  --display-d3-semibold-text-case: none;
  --display-d3-semibold-text-decoration: none;
  --display-d4-regular-font-family: Source Sans Pro;
  --display-d4-regular-font-weight: Regular;
  --display-d4-regular-line-height: 42;
  --display-d4-regular-font-size: 2rem;
  --display-d4-regular-letter-spacing: 0%;
  --display-d4-regular-paragraph-spacing: 0;
  --display-d4-regular-paragraph-indent: 0px;
  --display-d4-regular-text-case: none;
  --display-d4-regular-text-decoration: none;
  --display-d4-semibold-font-family: Source Sans Pro;
  --display-d4-semibold-font-weight: SemiBold;
  --display-d4-semibold-line-height: 42;
  --display-d4-semibold-font-size: 2rem;
  --display-d4-semibold-letter-spacing: 0%;
  --display-d4-semibold-paragraph-spacing: 0;
  --display-d4-semibold-paragraph-indent: 0px;
  --display-d4-semibold-text-case: none;
  --display-d4-semibold-text-decoration: none;
  --link-text-l1-font-family: Source Sans Pro;
  --link-text-l1-font-weight: Regular;
  --link-text-l1-line-height: 18;
  --link-text-l1-font-size: 0.875rem;
  --link-text-l1-letter-spacing: 0%;
  --link-text-l1-paragraph-spacing: 0;
  --link-text-l1-paragraph-indent: 0px;
  --link-text-l1-text-case: none;
  --link-text-l1-text-decoration: none;
  --link-text-l2-font-family: Source Sans Pro;
  --link-text-l2-font-weight: Regular;
  --link-text-l2-line-height: 18;
  --link-text-l2-font-size: 0.875rem;
  --link-text-l2-letter-spacing: 0%;
  --link-text-l2-paragraph-spacing: 0;
  --link-text-l2-paragraph-indent: 0px;
  --link-text-l2-text-case: none;
  --link-text-l2-text-decoration: underline;
  --button-small-font-family: Source Sans Pro;
  --button-small-font-weight: SemiBold;
  --button-small-line-height: AUTO;
  --button-small-font-size: 0.875rem;
  --button-small-letter-spacing: 0%;
  --button-small-paragraph-spacing: 0;
  --button-small-paragraph-indent: 0px;
  --button-small-text-case: none;
  --button-small-text-decoration: none;
  --button-medium-font-family: Source Sans Pro;
  --button-medium-font-weight: SemiBold;
  --button-medium-line-height: AUTO;
  --button-medium-font-size: 1rem;
  --button-medium-letter-spacing: 0%;
  --button-medium-paragraph-spacing: 0;
  --button-medium-paragraph-indent: 0px;
  --button-medium-text-case: none;
  --button-medium-text-decoration: none;
  --button-large-font-family: Source Sans Pro;
  --button-large-font-weight: SemiBold;
  --button-large-line-height: AUTO;
  --button-large-font-size: 1.125rem;
  --button-large-letter-spacing: 0%;
  --button-large-paragraph-spacing: 0;
  --button-large-paragraph-indent: 0px;
  --button-large-text-case: none;
  --button-large-text-decoration: none;
  --typography-body-font-family: Roboto;
  --typography-body-font-weight: Regular;
  --typography-body-line-height: 110%;
  --typography-body-font-size: 1rem;
  --typography-body-letter-spacing: 0%;
  --typography-body-paragraph-spacing: 26;
  --typography-body-paragraph-indent: 0px;
  --typography-body-text-case: none;
  --typography-body-text-decoration: none;
  --typography-h1-bold-font-family: Inter;
  --typography-h1-bold-font-weight: Bold;
  --typography-h1-bold-line-height: 110%;
  --typography-h1-bold-font-size: 3.0518125rem;
  --typography-h1-bold-letter-spacing: -5%;
  --typography-h1-bold-paragraph-spacing: 32;
  --typography-h1-bold-paragraph-indent: 0px;
  --typography-h1-bold-text-case: none;
  --typography-h1-bold-text-decoration: none;
  --typography-h1-regular-font-family: Inter;
  --typography-h1-regular-font-weight: Regular;
  --typography-h1-regular-line-height: 110%;
  --typography-h1-regular-font-size: 3.0518125rem;
  --typography-h1-regular-letter-spacing: -5%;
  --typography-h1-regular-paragraph-spacing: 32;
  --typography-h1-regular-paragraph-indent: 0px;
  --typography-h1-regular-text-case: none;
  --typography-h1-regular-text-decoration: none;
  --typography-h2-bold-font-family: Inter;
  --typography-h2-bold-font-weight: Bold;
  --typography-h2-bold-line-height: 110%;
  --typography-h2-bold-font-size: 2.4414375rem;
  --typography-h2-bold-letter-spacing: -5%;
  --typography-h2-bold-paragraph-spacing: 26;
  --typography-h2-bold-paragraph-indent: 0px;
  --typography-h2-bold-text-case: none;
  --typography-h2-bold-text-decoration: none;
  --typography-h2-regular-font-family: Inter;
  --typography-h2-regular-font-weight: Regular;
  --typography-h2-regular-line-height: 110%;
  --typography-h2-regular-font-size: 2.4414375rem;
  --typography-h2-regular-letter-spacing: -5%;
  --typography-h2-regular-paragraph-spacing: 26;
  --typography-h2-regular-paragraph-indent: 0px;
  --typography-h2-regular-text-case: none;
  --typography-h2-regular-text-decoration: none;
  --text-case-none: none;
  --text-decoration-none: none;
  --text-decoration-underline: underline;
  --paragraph-indent-0: 0px;
      }